body {
    margin: 0;
    background-color: black;

    font-family: 'Archivo', 'segoe ui', sans-serif !important;
    color: #444a50 !important;
}

#search-field {
    position: absolute;
    width: 300px;
    left: calc(50% - 150px);
    top: 20px;
    z-index: 1;

    background: #d5d5d5;
    padding: 0 25px;
    border-radius: 5px;
}

#page-spinner {
    position: absolute;
    top: 50vh;
    left: 50vw;
    color: white;
}
#page-spinner.hidden {
    display: none;
}

#places-popup {
    display: none;
    position: absolute;
    overflow-y: auto;
    padding: 10px;
    z-index: 11;
    background-color: white;
    border-radius: 5px;
}
#places-popup header {
    font-size: 21px;
    font-weight: 900;
}
#places-popup header i {
    vertical-align: middle;
    cursor: pointer;
}
#places-popup ul.places {
    padding-left: 0;
    margin: 0;
}
#places-popup ul.places li {
    cursor: pointer;
    padding: 3px 0;
}
#places-popup ul.places li:hover {
    background-color: #81ca91;
}

.country-labels {
    text-shadow:#000 2px 2px 1px;
}
.country-labels.hidden {
    display: none;
}

.fade-initialize {
    opacity: 0;
    transition: opacity 3s;
}
.fade-initialize.fade-in {
    opacity: 1;
}

#app-hover-labels {
    position: absolute;
    left: 20px;
    bottom: 65px;
    color: white;
}

#app-help {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
}

#app-info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: white;
    text-transform: none;
}
#app-info .accent {
    color: rgb(240, 20, 30);
}

#app-help-card.mdl-card {
    position: absolute;
    width: 512px;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -150px;
}
#app-help-card.hidden {
    display: none;
}
#app-help-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/banner_right.png') center / cover;
}
#app-help-card > .mdl-card__menu {
    color: #fff;
}
#app-help-card .mdl-button-get-started {
    float: right;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #c9c9cb;
    border-radius: 0 5px 5px 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #717782;
}
